/* Estilo Global */
body {
  font-family: Arial, sans-serif;
  background-color: #333333; /* Fundo escuro */
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* Layout flex vertical */
  min-height: 100vh; /* Altura total da viewport */
  
  /* Color variables for attendance status */
  --color-presente: #58D68D;
  --color-falta: #E74C3C;
  --color-justificada: #F1C40F;
}

/* Cabeçalho */
.main-header {
  background-color: #2c3e50;
  text-align: center;
  padding: 20px;
}

.main-header h1 {
  margin: 0;
  font-size: 28px;
  color: white;
}

/* Contêiner Principal */
.container {
  margin: auto;
  padding: 30px;
  width: 90%;
  max-width: 1400px;
  background-color: #4D8889;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

/* Listas */
.list-section {
  display: flex;
  gap: 20px;
}

.list {
  flex: 1;
  background-color: #346767; /* Fundo da lista */
  padding: 20px;
  border-radius: 5px; /* Borda arredondada */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.list h2 {
  font-size: 20px;
  margin-bottom: 15px;
  border-bottom: 2px solid white; /* Linha abaixo do título */
}

.list ul {
  list-style: none; /* Remove marcadores padrão */
  padding: 0;
  margin: 0;
}

.list ul li {
  display: flex; /* Ajuste flexível */
  justify-content: flex-start; /* Alinha texto à esquerda */
  align-items: center; /* Centraliza verticalmente */
  padding: 10px 20px; /* Espaçamento interno */
  margin: 10px 0; /* Espaçamento entre itens */
  background-color: #4D8889; /* Fundo de cada item */
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Indica interatividade */
  transition: background-color 0.2s ease; /* Suavidade */
}

.list ul li:hover {
  background-color: #2E6264; /* Fundo para hover */
}

/* Botões */
.button-section {
  display: flex; /* Layout flex para os botões */
  justify-content: center; /* Centraliza os botões */
  gap: 15px; /* Espaço entre os botões */
  margin-top: 20px; /* Margem na parte superior */
}

.button {
  padding: 12px 20px; /* Padding interno para botões */
  background-color: #45A049; /* Verde padrão */
  color: white;
  border: none; /* Sem borda padrão */
  border-radius: 5px; /* Arredondado */
  cursor: pointer; /* Indica interatividade */
  font-size: 16px; /* Tamanho do texto */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra leve */
  transition: transform 0.2s, background-color 0.2s; /* Suavidade das ações */
}

.button:hover {
  background-color: #66BB6A; /* Background hover do botão */
  transform: scale(1.05); /* Suavidade */
}

/* Rodapé */
.custom-footer {
  text-align: center;
  padding: 15px;
  background-color: #2c3e50;
  color: white;
}
